<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/styles.css" type="text/css" media="all">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>

</head>

<body>
    <div class="container">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your name" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Create a password" required><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required><br><br>

            <label for="pseudonym">Pseudonym:</label>
            <input type="text" id="pseudonym" name="pseudonym" placeholder="Give yourself a pseudonym" required><br><br>

            <label for="age">Age:</label>
            <input type="int" id="age" name="age" placeholder="Enter your age"><br><br>

            <label for="role">Role:</label>
            <select id="role" name="role">
                <option value="reserver">Reserver</option>
                <option value="administrator">Administrator</option>
            </select><br><br>

            <label> <input type="checkbox" id="consent" name="consent" required> I agree to the <a href="./terms"
                    target="_blank">Terms of Service</a> </label>

            <button type="submit">Register</button>
        </form>
    </div>

</body>

</html>