<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Reservations</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/viewReservations.js"></script>
</head>
<body>
    <div class="container">
    <h1>Reservations</h1>
    <table>
        <thead>
            <tr>
                <th>Resource ID</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody id="reservationsList"></tbody>
    </table>
</div>
</body>
</html>

